
.container {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 28px 21px;
    align-items: center;
    flex-direction: column;
  }
  
  .container input, textarea, select { 
    width: 100%;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    border-radius: 5px;
    margin: 7px 0px 14px 0px;
    border: 1px solid var(--border);
  }
  
  .container textarea {
    min-height: 50px;
  }
  
  .container label {
    font-weight: 600;
    margin: 7px 0px 7px 0px;
  }

  .container button {
    color: white;
    font-weight: 600;
    background: #0b6430;
    margin: 21px 40px 0px 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .container button:hover {
    background: #0e7a3f; 
    transform: scale(1.05); 
  }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
  }
  