
/* Details and reviews */

.container {
    height: 100%;
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    background-color: var(--card-background);
  }
  
  .container > section {
    width: 100%;
    padding: 21px;
    display: flex;
    max-width: 700px;
    flex-direction: column;
  }
  
  .container section article {
    padding: 0;
    width: 100%;
    min-height: 140px;
    margin: 4px 0px 14px;
  }
  
  .container header div {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .container header {
    display: flex;
    margin-bottom: 21px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container h1 {
    margin: 0 0 7px 0;
  }
  
  .container header > p {
    margin: 0;
    opacity: 1;
    font-weight: 600;
    color: var(--primary);
    margin: 7px 0px 14px 0px;
  }
  
  .container header button,
  .container header a {
    width: 120px;
    height: 40px;
  
    font-size: 14px;
    font-weight: 600;
    color: rgb(55, 13, 245);

    background: none;
  
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 5px;
    margin: 0 0 0 7px;
  }

  .container section header div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container header button {
    color: white;
    background: var(--button-background)
  }

  .container section header div img {
    height: 300px;
    width: 300px;
    border-radius: 5%;
  }
  
  /* Button icon styling */
  /* This styling will be used when we add in our reusable icon component */
  
  .container header button img,
  .container header a img {
    width: 24px;
    height: 24px;
    opacity: 0.25;
  }
  
  .container header button:hover,
  .container header a:hover {
    background-color: var(--border);
  }
  
  .container header button:hover img,
  .container header a:hover img {
    filter: invert(1);
    opacity: 1;
  }
  
  .container header button:active {
    background-color: rgb(190, 190, 190);
  }

 
  
  /* Review form styling */
  
  .container form {
    padding: 0;
    display: flex;
    border: none;
    max-width: 100%;
    box-shadow: none;
    flex-direction: row;
    align-items: center;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 14px;
  }
  
  .container form input
  {
    width: 40%;
    padding: 14px;
    font-size: 14px;
    resize: vertical;
    border-radius: 5px;
    margin: 14px 0px 14px 0px;
    border: 1px solid var(--border);
  }

  .container form textarea {
    width: 100%;
    padding: 14px;
    font-size: 14px;
    resize: vertical;
    border-radius: 5px;
    margin: 14px 0px 14px 0px;
    border: 1px solid var(--border);
  }
  
  .container form textarea {
    min-height: 50px;
  }
  
  .container form button {
    color: white;
    /* font-weight: 500; */
    background:var(--button-background);
    width: 100px;
    height: 50px;
    margin: 0 0 0 30px;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .container section article header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border-top: 1px  solid var(--border2);  */
    margin: 10px;
  }

  .container section article header div section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
